body {
    margin: 0.5rem;
}

h1 {
    font-size: 1.75rem;
    margin: 1rem 0;
    font-weight: bold;
}

p {
    margin: 1rem 0;
}

#message-p {
    font-weight: bold;
    color: blue;
    font-size: 1.25rem;
}

#word-p span {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

#letters-p span {
    font-size: 1.25rem;
}